body {
    background-color: blue;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 10px solid black;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: #eee;
  }
  
  .square:nth-child(odd) {
    background-color: #ccc;
  }
  
  .square:active {
    background-color: red;
  }
  